body {
	max-width: 960px;
	background: linear-gradient(#E08B13, white);
}

.title-bar {
	background: #fff;
}

.title {
	margin-top: 15px;
	margin-left: 9px;
	font-family: "Times New Roman", Times, Serif;
	font-size: 46px;
	font-variant: small-caps;
	color: #827f7d;
	background: #fff;
}

.container {
	/* font-family: "PT Sans", sans-serif; */
}

.column-one {
	padding-top: 25px;
	font-size: 28px;
	font-family: "PT Sans", sans-serif;
	color: #F0F8FF;
}

#letters-image {
	max-width: 350px;
	margin-top: 6px;
	border-radius: 8px;
}

.column-two {
	/* padding-left: 80px; */
	/* margin-bottom: 60px; */
	font-size: 28px;
	font-family: "PT Sans", sans-serif;
	font-weight: bold;
	padding-top: 25px;
	color: #0E0E13;
}

#displayGuessesSoFar {
	padding-top: 100px;
}


.text-input {
	font-weight: bold;
	line-height: 1.75;
	letter-spacing: 2px;
}

#displayWins {
	margin-top: 0;
}

#si {
	font-family: Garamond, serif;
	color: #FFF8DC;
	font-size: 16px;
	text-align: right;
	padding-right: 15px;
	margin-top: 55px;
}
