body {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 26px;
	color: 	#F0F8FF;


	background: url("../images/spiration dark.png");
}

.title {
	margin-top: 15px;

	font-family: "Times New Roman", Times, Serif;
	font-size: 46px;
	font-variant: small-caps;

	color: #808080;
}

.psychic-game-content {
	max-width: 100%;
	margin: 25px 145px 25px 145px;
	padding: 30px;

	font-family: "Times New Roman", Times, Serif;

	

}

.text-input {
	font-weight: bold;
	line-height: 1.75;
	letter-spacing: 2px;
}

#displayWins {
	margin-top: 0;
}

#si {
	font-family: Garamond, serif;
	color: #FFF8DC;
	font-size: 16px;
	text-align: right;
	padding-right: 15px;
	margin-top: 55px;
}
