.container {
	margin: auto;
	max-width: 970px;
}

body {
	background-image: url(../images/FreeVector-Blue-Abstract-Fan_Background.jpg);
}

h1 {
	color: #FF8C00;
	font-family: Inknut Antiqua;
	text-align: center;
}

#displayWins {
	color: #FF8C00;
	font-family: Inknut Antiqua;
	font-size: 30px;
	text-align: center;
}

#displayGuessesSoFar {
	color: #FF8C00;
	font-family: Inknut Antiqua;
	font-size: 30px;
	text-align: center;
}

#displayGuessesLeft {
	color: #FF8C00;
	font-family: Inknut Antiqua;
	font-size: 30px;
	text-align: center;
}

/*&nsbp */